body {
  font-family: 'Poppet', sans-serif;
  background-color: #EBECF0;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 全要素を囲む*/
.css-1axwbpm {
  margin-top: 1.25rem;
  padding: 0.75rem;
  border-width: 1px;
  border-radius: 12px;
  z-index: 1;
}